<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>angular-gitkit-demo - sign-in</title>
</head>
<body>
<h1>angular-gitkit-demo</h1>
<table border="1">
    <tr>
        <th>URL</th>
        <td>
            <pre id="url"></pre>
        </td>
    </tr>
    <tr>
        <th>Token</th>
        <td>
            <pre id="token"></pre>
        </td>
    </tr>
    <tr>
        <th>Cookies</th>
        <td>
            <pre id="cookies"></pre>
        </td>
    </tr>
    <tr>
        <th>Headers</th>
        <td>
            <pre id="headers"></pre>
        </td>
    </tr>
</table>
</body>
</html>